<%- include("header.ejs") -%>

<form class="postSection" action="/" method="post">
<input class="form-control form-control-lg" type="text" name="newBlogPost" placeholder="New Blog Post">
<button type="submit" name="home">+</button>
</form>


<%- include("footer.ejs") -%>
